.disabled-new {
    pointer-events: none;
    color: #DBDBDB !important;
}
.disabled-new img {
    opacity: 0.3;
}
/*选择框样式*/
.selectStyle {
    display: block;
    width: 240px;
    height: 44px;
    border: 0;
    border-radius: 32px;
    background-color: #f5f5f5;
    color: #474747;
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto;
    line-height: 44px;
    text-align: left;
    text-indent: 24px;
}
/*选择框下拉按钮样式*/
.selectStyle img{
    float: right;
    margin: 17px;
}
.hideIcon{
    display: none;
}
.popMenuWindow {
    display: none;
    min-height: 210px;
    width: 304px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
    /*bottom: 60px;*/
}

.popMenuWindow>.content {
    padding-bottom: 13px;
}
.popMenuWindow .selectStyle{
    margin-bottom: 17px;
}
#mainMenuWindow .customizeRoomName img{
    opacity: 0.3;
}
.popMenuWindow .title{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 24px 24px;
}
.title{
    word-break: break-all;
}
.popMenuWindow .btn-new {
    width: 240px;
    height: 44px;
    bottom: 24px;
    position: relative;
    float: right;
    right: 32px;
    margin-top: 40px;
}
.popMenuWindow .cancelBtn {
    float: left;
    width: 114px;
    height: 44px;
    line-height: 44px;
    border-radius: 32px;
    border: 1px solid #DBDBDB;
    color: #BBBBBB;
}
.popMenuWindow .confirmBtn {
    float: right;
    width: 114px;
    height: 44px;
    background-color: #2BC689;
    line-height: 44px;
    border-radius: 32px;
    color: white;
}
.singleConfirmBtn{
    height: 44px;
    background-color: #2bc689;
    line-height: 44px;
    border-radius: 32px;
    color: #fff;
    width: 240px;
    /*margin: 24px auto;*/
}
.popMenuWindow .ul-phone {
    width: 240px;
    margin: 0px auto;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8px;
    border: 0px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
    height: 301px;
    color: #474747;
    font-weight: bold;
    font-size: 14px;
    text-indent: 24px;
    overflow: auto;
    padding: 0px;
    max-height: 200px;
}
.popMenuWindow .ul-phone li {
    padding: 12px 0px;
}
.popMenuWindow .ul-phone li:hover {
    background-color: #36d988;
}
.popMenuWindow .ul-phone li:active {
    background-color: #36d988;
}
.inputClass{
    font-size:14px;
    height: 44px;
    width: 216px;
    border-radius:32px;
    border:1px solid #c8cccf;
    color:#474747;
    outline: 0px;
    text-align: left;
    padding-left: 24px;
    caret-color:#2BC689;
    font-weight:700;
    background: url("../../textures/phone/modifyContent.svg");
    background-repeat: no-repeat;
    background-position-x: right;
}
.hide{
    display: none;
}
.input-group{
    display: none;
    margin-bottom: 20px;
}
.contentWindow{
    width: 240px;
    margin-left: 32px;
    min-height: 50px;
    /* text-align: left; */
    font-size: 16px;
    color: #0B0A16;
}
.contentLetter{
    letter-spacing: 1px;
}
#popMenuBackground{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
}
.popMenuWindow .closeBtn {
    display: none;
    position: absolute;
    left: 100%;
    transform: translateX(calc(-100% - 10px));
    top: 10px;
}
.popMenuWindow .closeBtn>img{
    height:40px;
    width:40px;
}